@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 1200px;
  background-color: #f2f2f2;
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.button {
  display: block;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}


.page-header {
  font-weight: 700;
}

.navigation {
  width: 1060px;
  font-size: 20px;
  display: flex;
  margin: 0 auto;
}

.navigation-logo {
  margin-right: 28px;
  display: block;
  min-height: 64px;
  min-width: 140px;
}

.page-header-logo {
  position: absolute;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 400px;
}

.navigation-actions {
  max-width: 360px;
  margin-left: auto;
}


.navigation-item {
  position: relative;
}

.navigation-link {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 20px 16.2px;
}

.navigation-actions .navigation-link {
  margin: 0;
  padding: 32px 22px;
}


.navigation-link:hover {
  color: #7c7c7c;
}

.navigation-item a:focus-visible:not(.button),
.navigation-item:focus-visible:not(.button) {
  outline: none;
  color: #7c7c7c;
}

.navigation-link:active {
  color: #a19e9e;
}

.navigation-link::after {
  position: absolute;
  content: none;
  background-color: #a79286;
  height: 2px;
  left: 16px;
  right: 16px;
  bottom: -1px;
}

.navigation-list:not(.navigation-actions) .navigation-link:hover::after {
  content: '';
}

.current-page-item::after {
  position: absolute;
  content: '';
  background-color: #756257;
  height: 2px;
  left: 16px;
  right: 16px;
  bottom: -1px;
}

.navigation-link-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation-link:hover path,
.navigation-link:focus path {
  fill: #7c7c7c;
}

.navigation-link:active path {
  fill: #a19e9e;
}

.favorite-active {
  background-color: #7db54f;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  border-radius: 10px;
  left: 20px;
  top: 11px;
  padding: 5px 5px 5px 4px;
  max-width: 30px;
  max-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-button {
  background-color: #756157;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
  margin: 14px 0 14px 20px;
}

.header-button:hover,
.hotel-search-button:hover,
.header-button:focus,
.hotel-search-button:focus,
.details-button:hover,
.details-button:focus {
  background-color: #615048;
  outline: none;
}

.header-button:enabled:active,
.hotel-search-button:enabled:active,
.details-button:enabled:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.main-index {
  text-align: center;
  flex-grow: 1;
}

.welcome {
  background-color: #b9daef;
  background-image: url('../images/index/divider.svg'), url('../images/index/welcome-background.jpg');
  background-position: bottom, 0;
  background-repeat: no-repeat no-repeat;
  background-size: 100% auto, cover;
  padding: 51.4px 0 76px;
}

.advantages {
  text-align: center;
}

.advantages-introduction-container {
  margin: 0 auto 21px;
  width: 660px;
  padding: 69px 0;
}

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 25px;
}

.advantage-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  background-color: #ffffff;
  color: #000000;
}

.advantage-text-container {
  width: 400px;
  padding: 112.5px 84px;
}

.advantages-item-colored .advantage-text-container {
  padding: 102px 85px;
}

.advantages-item-colored,
.advantages-item-colored .advantages-item-description {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-semicolored {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-transaprent {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.advantages-item-title::after {
  content: '';
  display: block;
  width: 60px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  margin: 30px auto;
}

.advantages-item-colored .advantages-item-title::after {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  width: 172px;
  margin: 0 auto;
  padding: 0;
}

.advantages-item-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding: 0;
  margin: 0;
}

.services {
  text-align: center;
}

.services-introduction-container {
  margin: 0 auto;
  width: 585px;
  padding: 64px 0;
}


.services-title {
  width: 505px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
}

.services-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  padding: 0;
}

.services-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.services-item {
  min-width: 400px;
}

.services-item-colored {
  background-color: rgba(131, 179, 211, 0.12);
}

.item-house {
  padding: 81px 85px 79px;
}

.item-house::before {
  content: url('../images/index/services-house.svg');
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto 32px;
}

.item-food {
  padding: 82px 85px 80px;
}

.item-food::before {
  content: url('../images/index/services-food.svg');
  display: block;
  width: 74px;
  height: 70px;
  margin: 0 auto 31px;
}

.item-gift {
  padding: 79px 85px;
}

.item-gift::before {
  content: url('../images/index/services-gift.svg');
  display: block;
  width: 64px;
  height: 76px;
  margin: 0 auto 29px;
}

.services-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.services-item-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding: 0;
}

.hotel-search-introduction-container {
  margin: 0 auto;
  width: 592px;
  padding: 96px 0;
}

.footer-newsletter-container {
  width: 684px;
  margin: 0 auto;
}

.hotel-search,
.page-footer {
  text-align: center;
}

.hotel-search-title,
.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.hotel-search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
}

.hotel-search-button,
.newsletter-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  padding: 8px 50px;
}

.hotel-search-button {
  background-color: #756157;
  margin: 0 auto;
  width: 376px;
}

.newsletter-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto 55px;
  padding: 0;
  width: 475px;
}

.newsletter-form {
  display: flex;
  flex-wrap: wrap;
  max-width: 684px;
}

.field-newsletter {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  flex-grow: 1;
  margin: 0;
  padding: 14px 0 13px 19.9px;
  border: none;
  outline: none;
  border-radius: 4px 0 0 4px;
  background: #f2f2f2;
}

.field-newsletter::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.field-newsletter:hover {
  color: rgba(0, 0, 0, 0.6);
  background-color: #e6e6e6;
}

.field-newsletter:focus {
  color: rgba(0, 0, 0, 0.6);
  outline: 3px solid #83b3d3;
}

.field-newsletter:focus:not(:placeholder-shown) {
  font-weight: 700;
  outline: 2px solid #000000;
  color: #000000;
}

.field-newsletter:disabled {
  color: rgba(0, 0, 0, 0.1);
  background-color: #e6e6e6;
}

.newsletter-button {
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
  max-width: 232px;
}

.newsletter-button:hover,
.newsletter-button:focus,
.favorite-button-inactive:hover,
.favorite-button-inactive:focus {
  background-color: #68a2ca;
  outline: none;
}

.newsletter-button:enabled:active,
.favorite-button-inactive:enabled:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.index-footer-newsletter {
  background-color: #82b3d3;
  background-image: url('../images/footer/subscribe-background.jpg');
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 96px 0 104px;
}

.page-footer-container {
  display: flex;
  align-items: center;
  padding: 40px 70px 30px;
}

.footer-social-list {
  list-style: none;
  padding: 0;
  margin: 5px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 143px;
}

.footer-social-icon:focus {
  outline: none;
}

.social-icon-vk {
  padding: 13px 11.67px;
  display: block;
}

.social-icon-tg {
  padding: 10px 14.67px 13px;
  display: block;
}

.social-icon-youtube {
  padding: 11.5px 12.67px;
  display: block;
}


.social-icon-vk:hover path,
.social-icon-tg:hover path,
.social-icon-youtube:hover path,
.social-icon-vk:focus path,
.social-icon-tg:focus path,
.social-icon-youtube:focus path {
  fill: #68a2ca;
  outline: none;
}

.social-icon-vk:active path,
.social-icon-tg:active path,
.social-icon-youtube:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts {
  flex-grow: 1;
}

.footer-contacts-address-phone {
  display: block;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: inherit;
  font-style: normal;
  max-width: 802px;
}

.footer-contacts-address-phone:hover,
.footer-contacts-address-phone:focus {
  color: #756157;
  outline: none;
}

.footer-contacts-address-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.svg-normalize {
  display: block;
}

.footer-htmlacademy-link:focus {
  outline: none;
}

.footer-htmlacademy-link:hover path,
.footer-htmlacademy-link:focus path {
  fill: #756157;
}

.footer-htmlacademy-link:active path {
  fill: rgba(117, 97, 87, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  background-color: #ffffff;
  position: relative;
  margin: auto;
  border-radius: 30px;
  padding: 64px 70px;
  max-width: 717px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-off {
  display: none;
}

.modal-close-button {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border-radius: 50%;
}

.modal-close-button:hover {
  outline: none;
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-button:active {
  outline: none;
  background-color: #E6E6E6;
}

.modal-close-button:active path {
  fill: #A1A1A1;
}

.svg-center {
  margin: 0 auto;
}

.modal-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 64px;
}

.modal-search-form {
  display: flex;
  flex-direction: column;
}

.modal-search-form .form-line-wrapper:not(:last-of-type) {
  margin-bottom: 23px;
}

.modal-search-form .form-line-wrapper:last-of-type {
  margin-bottom: 48px;
}

.form-line-wrapper {
  display: flex;
  justify-content: space-between;
}

.form-line-wrapper input {
  height: 48px;
}

.modal-field-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  margin-top: 12px;
  min-width: 137px;
}

.modal-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 440px;
}

.modal-date {
  background-color: #f2f2f2;
  background-image: url('../images/modal_search/calendar-icon.svg');
  background-position: right 22px center;
  background-repeat: no-repeat;
  min-width: 440px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 40px 12px 20px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.modal-date::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.modal-date:hover {
  color: rgba(0, 0, 0, 0.6);
  background-color: #e6e6e6;
}

.modal-date:focus,
.modal-date:placeholder-shown:focus {
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.modal-matches-text {
  margin: 4px 20px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.modal-matches-text-error {
  color: #ff5757
}

.modal-date:focus:not(:placeholder-shown) {
  background-color: #F2F2F2;
  outline: 2px solid #000000;
  color: #000000;
}

.modal-date:placeholder-shown + .modal-matches-text {
  visibility: hidden;
}

.modal-amount-wrapper {
  display: flex;
}

.modal-field-label-tooltip {
  position: relative;
  padding-right: 84px;
  padding-top: 11px;
}

.tooltip {
  position: absolute;
  margin-left: 11px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-toggle::after {
  content: '';
  position: absolute;
  bottom: -15px;
  transform: translateX(-50%);
  width: 256px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.01);
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #242424;
}

.tooltip-text {
  background-color: #333333;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px 18px 18px 23px;
  width: 256px;
  height: 143px;
  position: absolute;
  margin-top: 15px;
  left: 45%;
  transform: translateX(-50%);
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text,
.tooltip-text:hover {
  display: block;
}

.tooltip-text:after {
  content: '';
  background-image: url("../images/modal_search/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.amount-field-controls {
  display: flex;
  align-items: center;
  max-width: 110px;
}

.modal-minus-button,
.modal-plus-button {
  width: 40px;
  height: 48px;
  border: none;
  background: #f2f2f2;
  cursor: pointer;
  position: relative;
}

.modal-minus-button:enabled:hover path,
.modal-plus-button:enabled:hover path {
  fill: #000000;
  fill-opacity: 1;
}

.modal-minus-button:focus,
.modal-plus-button:focus {
  outline: none;
}

.modal-minus-button:enabled:focus path,
.modal-plus-button:enabled:focus path {
  fill: #000000;
  fill-opacity: 1;
}

.modal-minus-button:focus::after,
.modal-plus-button:focus::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  border: 3px solid #82b3d3;
  border-radius: 7px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-minus-button:enabled:active path,
.modal-plus-button:enabled:active path {
  fill: #000000;
  fill-opacity: 0.2;
}

.modal-minus-button:enabled:active::after,
.modal-plus-button:enabled:active::after {
  content: none;
}

.modal-minus-button:disabled,
.modal-plus-button:disabled {
  background-color: #e5e5e5;
}

.modal-minus-button {
  border-radius: 4px 0 0 4px;
}

.modal-amount {
  font-family: "PT Sans", sans-serif;
  -moz-appearance: textfield;
  padding: 14px 10px;
  width: 31px;
  border: none;
  background: #f2f2f2;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.modal-amount:focus {
  outline: none;
}

.modal-plus-button {
  border-radius: 0 4px 4px 0;
}

.modal-submit {
  padding: 0;
  margin: 0;
  background-color: #83b3d3;
  border-radius: 10px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.modal-submit:hover,
.modal-submit:focus {
  outline: none;
  background-color: #68a2ca;
}

.modal-submit:enabled:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

/* Catalog */

.catalog-filters {
  background-color: #81b3d3;
  color: #ffffff;
  background-image: url('../images/catalog/filters-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 70px;
}

.inner-header {
  margin-bottom: 40px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumbs-link {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: block;
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link:hover,
.breadcrumbs-item:not(:last-child) .breadcrumps-link:hover path {
  fill-opacity: 0.6;
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link:focus {
  outline: none;
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link:active {
  fill-opacity: 0.3;
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 28px;
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  content: url('../images/catalog/breadcrumps-divider.svg');
  position: absolute;
  top: -2px;
  right: -18px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-group {
  max-width: 150px;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-group:not(:last-child) {
  margin-right: 70px;
}

.catalog-filter-right {
  margin-left: 71px;
}

.range-price {
  display: flex;
  margin-bottom: 36px;
}

.catalog-filter-buttons {
  max-width: 191px;
  margin-top: 56px;
}

.filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  text-transform: capitalize;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-input {
  position: absolute;
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 0;
}

.control-original[type="checkbox"]:checked + .control-input::before {
  position: absolute;
  content: "";
  background-image: url('../images/catalog/checked.svg');
  background-repeat: no-repeat;
  top: 5px;
  left: 4px;
  width: 12.2px;
  height: 9.9px;
}

.control-original[type="radio"]:checked + .control-input::before {
  content: "";
  background-color: #3F5E72;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
}

.control:hover .control-original:enabled + .control-input,
.control:hover .control-original:enabled + .control-input + .control-label {
  opacity: 0.6;
}

.control-original:focus-visible + .control-input {
  outline: 3px solid #83b3d3;
}

.control:active .control-original:enabled + .control-input,
.control:active .control-original:enabled + .control-input + .control-label {
  opacity: 0.3;
}

.control-original:disabled + .control-input,
.control-original:disabled + .control-input + .control-label {
  -webkit-user-select: none;
  user-select: none;
  opacity: 0.6;
}

.control-original[type="checkbox"] + .control-input {
  border-radius: 4px;
}

.control-original[type="radio"] + .control-input {
  border-radius: 50%;
}

.price-input-container {
  margin-bottom: 44px;
  position: relative;
  display: flex;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button,
.modal-amount::-webkit-outer-spin-button,
.modal-amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.range-price-label {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

.min-price-label {
  top: 13px;
  left: 107px;
}

.max-price-label {
  top: 13px;
  right: 19px;
}

.price-input {
  -moz-appearance: textfield;
  font-family: "PT Sans", sans-serif;
  background-color: #f2f2f2;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 143px;
  border: none;
  outline: none;
  padding: 12.5px 45px 11.7px 20.6px;
}

.price-input:placeholder-shown {
  color: rgba(0, 0, 0, 0.6);
}

.price-input:hover {
  color: rgba(0, 0, 0, 0.6);
  background-color: #e6e6e6;
}

.price-input:focus,
.price-input:placeholder-shown:focus {
  color: rgba(0, 0, 0, 0.6);
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.price-input:focus:not(:placeholder-shown) {
  color: #000000;
  background-color: #f2f2f2;
  outline: 2px solid #000000;
}

.price-input:disabled {
  color: rgba(0, 0, 0, 0.1);
  background-color: #e6e6e6;
}

.price-input-min {
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
}

.price-input-max {
  border-radius: 0 4px 4px 0;
}

.catalog-filter-group .button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 8px 50px;
  width: 191px;
}

.price-range-scale {
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  height: 4px;
}

.price-range-line {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  width: 226px;
}

.button-price-range {
  border: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.button-price-range:hover {
  background-color: #d7d3d3;
}

.button-price-range:focus {
  outline: 3px solid #83b3d3;
}

.button-price-range:active {
  background-color: #afaaaa;
  outline: none;
}

.button-price-range:disabled {
  background: #e5e5e5;
  cursor: default;
}

.button-min-range {
  top: -8px;
  left: 0;
}

.button-max-range {
  top: -8px;
  right: -1px;
}

.filters-submit {
  background-color: #81b3d3;
  margin-bottom: 32px;
}

.filters-reset {
  background-color: transparent;
}

.filters-submit:hover,
.filters-submit:focus {
  outline: none;
  background-color: #68a2ca;
}

.filters-submit:enabled:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.filters-submit:disabled {
  background-color: #e5e5e5;
}

.filters-reset:enabled:hover {
  outline: none;
  color: rgba(255, 255, 255, 0.6);
}

.filters-reset:focus {
  outline: 3px solid #83b3d3;
}

.filters-reset:enabled:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.filters-reset:disabled {
  background-color: #e5e5e5;
}

.catalog-products {
  padding: 49px 70px 60px;
}

.products-settings {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.number-matches {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: 201px;
}

.select-control {
  background-color: #ffffff;
  max-width: 292px;
  width: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  outline: none;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 12.6px 40px 12px 18.4px;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('../images/catalog/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right 17px center;
  cursor: pointer;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus {
  border-color: #3f5e72;
}

.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.view-list {
  list-style: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
}

.icon-view-button {
  display: block;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.tile-layout-button {
  background-image: url('../images/catalog/view-tile.svg');

}

.cards-layout-button {
  background-image: url('../images/catalog/view-card.svg');
}

.list-layout-button {
  background-image: url('../images/catalog/view-list.svg');
}

.icon-view-button:hover {
  border-color: #000000;
}

.icon-view-button:focus {
  border-color: #68A2CA;
  outline: none;
}

.icon-view-button:active {
  border-color: #000000;
}

.icon-view-active {
  border: 2px solid #000000;
}

.products-list {
  list-style: none;
  margin: 0;
  margin-bottom: 39.9px;
  padding: 0;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  border-bottom: 1px solid #E6E6E6;
}

.product-card {
  padding: 19px 19px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  display: grid;
  grid-template-rows: auto repeat(3, min-content);
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  align-items: start;
}

.product-card-link {
  text-decoration: none;
  color: inherit;
  grid-column: 1 / -1;
}

.product-card-link:hover {
  opacity: 0.8;
}

.product-card-link:focus {
  opacity: 0.8;
  outline: 2px solid #68a2ca;
}

.product-card-link:active {
  opacity: 0.3;
  outline: none;
}

.product-card-link:hover {
  opacity: 0.8;
}

.product-card-image {
  display: block;
  margin-bottom: 16px;
}

.product-card-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.card-row-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  max-width: 140px;
  word-wrap: break-word;
}

.product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: right;
}

.product-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.details-button {
  background-color: #756157;
  padding: 8px 26px;
}

.favorite-button-inactive {
  background-color: #82b3d3;
  padding: 8px 20px;
}

.favorite-button-active {
  background-color: #7db54f;
  padding: 8px 18px;
}

.favorite-button-active:hover,
.favorite-button-active:focus {
  background-color: #6c9e42;
  outline: none;
}

.favorite-button-active:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-stars {
  background-color: #ffffff;
  background-image: url('../images/catalog/hotel-star.svg');
  background-repeat: space;
  margin: 10px 0;
  height: 17px;
  grid-row: 4 / 5;
  grid-column: 1 / 2;
}

.stars-one {
  width: 19px;
}

.stars-two {
  width: 41px;
}

.stars-three {
  width: 64px;
}

.stars-four {
  width: 89px;
}

.stars-five {
  width: 107px;
}

.hotel-site-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  text-transform: uppercase;
  padding: 9px 22px 8px 23px;
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.pagination-item {
  background-color: #82b3d3;
  color: #ffffff;
  border-radius: 4px;
}

.pagination-link {
  color: inherit;
  display: flex;
  min-width: 60px;
  min-height: 60px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 11.36px 18.55px 12.64px 18.45px;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-etc {
  background-color: #ffffff;
  color: #000000;
}

.pagination-link:not(.pagination-current):not(.pagination-etc):hover,
.pagination-link:not(.pagination-current):not(.pagination-etc):focus {
  background-color: #68a2ca;
  box-shadow: inset 0 0 0 1px #82b3d3;
  border-radius: 4px;
  outline: none;
}

.pagination-link:not(.pagination-current):not(.pagination-etc):active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-footer-newsletter {
  padding: 96px 0 104px;
}

.button:disabled {
  background: #e5e5e5;
  cursor: default;
}
